    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About EasyMakeGarden</h2>
              <p>Here at EasyMakeGarden, we're dedicated to increasing food sustainability. How? We give you the resources, knowledge, and tools to make your own home garden. Not only that, we also give you recipes and more to use your sustainably-grown food.</p><br/>
              <h2>Interested? Join our mailing list</h2>
              <!-- Add mailing list here -->
              </div>
        </div>
    </section>
